{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="images/jorge-profile.jpg" class="img-circle" alt="Jorge Escobar Profile" width="256">
        <h1>Jorge Escobar</h1>
        <h2>Startup Builder - Consultant - Mentor</h2>
        <p class="lead">Building and leading complex technology projects and teams since 1998</p>
      </div> <!-- col-lg-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</header> <!-- header -->

<section id="experience">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
      </div> <!-- col-lg-12 -->
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-4 text-center">
        <h3>MongoDB</h3>
      </div> <!-- col-lg-4 -->
      <div class="col-lg-4 text-center">
        <h3>Venmo</h3>
      </div> <!-- col-lg-4 -->
      <div class="col-lg-4 text-center">
        <h3>Knewton</h3>
      </div> <!-- col-lg-4 -->
    </div> <!-- row -->

  </div> <!-- container -->
</section>

{{ partial "footer.html" . }}
