{{ partial "header.html" . }}

<!-- Page Content -->
<div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <img width="500px" class="img-responsive" src="images/solopatic-logo.png" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Tech Consulting - Platform Development - Coaching</h1>
        <p class="lead">We help you get into the big leagues of tech enterprise</p>
      </div>
    </div>

</div>
{{ partial "footer.html" . }}
