body{
  font-family: 'Lato', sans-serif;
}

.navbar-custom {
  background: #254B7C;
  font-size: 1.2em;
  font-weight: bold;
}

#nav-main-items > li > a {
  color: #ddd;
}

#nav-main-items > li > a:hover {
  color: #fff;
}

#nav-logo {
  color: #eee;
  font-size: 1.4em;
}

.nav-body {
  padding-top: 50px;
}

header {
  background: #DCE5ED;
  padding: 25px 0 25px 0;
}

h1, h2 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#experience {
    background: #AFD4ED;
}

# colorpalette
# http://www.colourlovers.com/palette/4429946/Domus
